.ant-select-selector {
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}

.form-recruit {
  .ant-form-item-label {
    text-align: start !important;
  }
}
