.box-cv {
  background-color: white;
  border-radius: 10px;
  padding: 30px 25px 30px 25px;
  .box-title {
    color: var(--color-main);
    font-weight: bold;
    font-size: 20px;
  }
  margin-bottom: 20px;

  .title-container {
    font-weight: bold;
    font-size: 20px;
    // padding-bottom: 20px;
  }
}

.sider-profile {
  .ant-menu-item-selected {
    background-color: #bf8a00 !important;
    color: white !important;
  }

  .ant-menu-dark {
    background-color: #072b4d;
  }
}

.wrap-search {
  height: 100%;
  background-color: var(--background-box-search);
  padding: 30px;

  .ant-btn-lg {
    border-radius: 0;
  }
}

.icon-cancel {
  font-size: 30px;
  color: red;
  cursor: pointer;
}

.ant-table
  .ant-table-container
  .ant-table-content
  table
  thead.ant-table-thead
  .ant-table-cell {
  background-color: var(--background-box-search);
}

.form-cv {
  .ant-form-item-label {
    text-align: start !important;
  }

  .input-form {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--gray);
    width: 100%;
  }
}
