.text-banner-info {
  color: var(--color-main);
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 5px;
  cursor: pointer;
}

.text-banner-bottom {
  font-size: 24px;
  cursor: pointer;
}

.card {
  height: 171px;
  width: 350px;
  background-color: var(--background-box-search);
  padding-top: 21px;
  padding-bottom: 30px;
}
